name: Build Angular Docker Image

on:
  push:
    paths:
      - "angular/**"
      - "!**.md"
    branches:
      - main

jobs:
  push-to-dockerhub:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./angular
          file: ./angular/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:angular-latest, ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:angular-${{ github.sha }}

      - name: Build and push non optimized Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./angular
          file: ./angular/Dockerfile.basic
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:angular-non-optimized-latest, ${{ secrets.DOCKERHUB_USERNAME }}/learning-tracker:angular-non-optimized-${{ github.sha }}      